/* ------------------------ footer ----------------------------- */
body{
    position: relative;
}

footer{
    position: absolute;
    top: 50rem;
}

.footer-top  p{
    font-size: 15px;
    line-height: 25px;
    color:white;
}

.footer-top h2{
    font-size: 18px;
}

.footer-top h2,h3{
    color: #ffffff;
}

.footer-top{
    background: #67B26F;  
    background: -webkit-linear-gradient(to left, #1976bc, #67B26F); 
    background: linear-gradient(to left, #1976bc, #67B26F);
    /*background: #111;*/
    padding: 80px 0;
}

.segment-one h2{
    color: #ffffff;
    letter-spacing: 1px;
    margin: 10px 0;
    font-family: Poppins;
    text-transform: uppercase;
}

.segment-one ul li a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.segment-one h2:before{
   content: '|';
  /* color: rgb(6, 6, 88); */
   color: cyan;
   padding-right: 10px;
}

.segment-one ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-one ul li a{
    transition: all 0.4s ease-in-out;
}

.segment-one ul li a:hover{
    color: cyan;
}

.segment-two h2{
    color: #ffffff;
    letter-spacing: 1px; 
    margin: 10px 0;
    font-family: Poppins;
    text-transform: uppercase;
}

.segment-two h2:before{
   content: '|';
   color: cyan;
   padding-right: 10px;
}

.segment-two ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.segment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.6);
    line-height: 40px;
}

.segment-two ul li a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out
}

.segment-two ul li a:hover{
    color: cyan;
}

.segment-three h2{
    color: #ffffff;
    font-family: Poppins;
    text-transform: uppercase;
}

.segment-three h2:before{
    content: '|';
    color: cyan;
    padding-right: 10px;
 }

 .segment-three a{
     background-color: rgb(146, 241, 146);
     width: 40px;
     height: 40px;
     display: inline-block;
     border-radius: 50%;
     margin: 6px 5px;
     box-shadow: 1px 4px 2px 2px rgb(41, 41, 94);
 }

 .segment-three a i{
     font-size: 20px;
    /* color: rgb(102, 102, 241); */
     padding: 10px 12px;
     transition: all 0.3s linear;
 }

 .segment-three a:hover i{
     transform: scale(1.4);
 }

 .fa-facebook{
     color: rgb(33, 33, 105);
 }

 .fa-instagram{
    color: #e84393;
 }

 .fa-twitter{
     color: #0098e6;
 }

 .fa-pinterest{
    color: rgb(245, 35, 35);
 }
 .segment-four h2{
     color: #ffffff;
     font-family: Poppins;
     text-transform: uppercase;
 }

 .segment-four h2:before{
    content: '|';
    color:cyan;
    padding-right: 10px;
 }

/* .segment-four form input[type=submit]{
     background: rgb(43, 43, 156); 
    background: red;
     border: none; 
     padding: 3px 15px;
     color: #ffffff;
     text-transform: uppercase;
     margin-top: 5px; 
 } */

.segment-four form input[type=email]
{
    outline: none;
}

.subs-btn
{
    margin-top: 0.8rem;
    margin-left: 1rem;
}

 .footer-bottom-text{
     font-size: 18px;
     color: white;
     text-align: center;
     background: #67B26F;  
     background: -webkit-linear-gradient(to left, #1976bc, #67B26F); 
     background: linear-gradient(to right, #1976bc, #67B26F);
    /* background: #000000; */
     line-height: 75px;
     margin-bottom: 0;
 }

 @media only screen and  (min-width:760px) and (max-width:991px)
 {
     .md-mb-30{
         margin-bottom: 30px;
     }
 }

 @media only screen and (max-width: 767px)
 {
     .sm-mb-30{
         margin-bottom: 30px;
     }
     .footer-top{
         padding: 50px 0;
     }
 }