@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
	/* background: #67B26F; 
background: -webkit-linear-gradient(to top, #1976bc, #67B26F); 
background: linear-gradient(to top, #1976bc, #67B26F); */
/* background:linear-gradient(to right, rgb(248, 248, 171), rgb(176, 176, 252)); */
}

summary{
  outline: none;
}

.about-us{
	 width: 100%;
	height:300px; 
	/* background-image: url('../img/India/Andhra_Pradesh/2_Visakhapatnam/Yarada_Beach_Panoramic_Views.jpg'); */
  margin-bottom: 3rem; 
  padding-top: 7%;
  padding-bottom: 7%;
  position: relative;
  background-image: linear-gradient(to right, rgb(248, 248, 171, 0.4), rgb(176, 176, 252, 0.4)),url('../img/India/Andhra_Pradesh/2_Visakhapatnam/Yarada_Beach_Panoramic_Views.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
 
}

.about-us.deepshadow h1{
	background-color: rgba(0,0,0,0.2);
	/* font-family: 'Kaushan Script', cursive; */
	/* font-family: 'Bangers', cursive; */
	font-family: 'Russo One', sans-serif;
	font-size: 3.5em;
  width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
  font-style: italic;
  color: whitesmoke;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}

.about_state h4{
	font-family: 'Oleo Script', cursive;
	letter-spacing: 1px;
	border-bottom: 2px black solid;
	
}

.about_state p{
	text-align: justify;
}

#content1{
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: none;
}

#show1{
	cursor: pointer;
}

#content2{
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: none;
}

.show2{
	cursor: pointer;
}




/* -------------------image section------------ */
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);


.state_img {
  font-family: 'Playfair Display', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 5rem 5rem 10rem;
  min-width: 230px;
  max-width: 315px;
  max-height: 220px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  display: inline-block;
  box-shadow: -20px 20px 20px 5px rgba(0, 0, 0, 0.6);
}

.state_img * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.state_img img {
  max-width: 100%;
  backface-visibility: hidden;
}
.state_img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}
.state_img figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
  /* border-color: transparent linear-gradient(to top, #1976bc, #67B26F) transparent transparent; */
}
.state_img:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.state_img h2 {
  line-height: 1.5em;
  -webkit-transform: translateX(-30px);
  /* transform: translateX(-30px); */
  transform: translate(-40px,40px);
  margin: 0;
}
.state_img h2 {
  margin: 0 0 0px;
  line-height: 1.1em;
  font-weight: 900;
  font-size: 2em;
  opacity: 0.75;
}
/* .snip1401 p {
  font-size: 0.8em;
} */
.state_img i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #ffffff;
  opacity: 0;
}
.state_img a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.state_img:hover img,
.state_img.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
.state_img:hover:after,
.state_img.hover:after,
.state_img:hover figcaption,
.state_img.hover figcaption,
.state_img:hover i,
.state_img.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}




/* -------------------canvaslink---------------- */